.pagination {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 100%;

    .item {
        padding: 0.5rem 1rem;
        color: white;
        font-weight: 700;
        border-radius: 0.2rem;
        margin: 0.2rem;

        &.active {
            background-color: #F0A5C3;
        }

        &.disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        &.item:first-child,
        &.item:last-child {
            background-color: #F0A5C3;
        }

        &.item:first-child {
            margin-right: 0.5rem;
        }

        &.item:last-child {
            margin-left: 0.5rem;
        }
    }
}